extends layout

block content
  h1= title
  - let image_names = results
  - let items = results
  div(class="container-fluid")
   div(class="row m-1")
    each item in Sweater
     - let destination = `dispatch(\"/Sweaters/update?id=${item._id}\")`
      div(class="row-sm-2", class="m-1") item #{item.size}(#{item.color}) is #{item.price}
      button.btn( class="btn-success ml-1", onclick= destination) Update
     script.
        function dispatch(path){
        window.location.href=path
        }

    table(class="table table-warning table-bordered")
        thead
            tr 
                th(scope="col") size 
                th(scope="col") color 
                th(scope="col") price
        tbody        
            - for(let i=0;i<image_names.length;i++){
                tr
                    td  #{image_names[i].size}
                    td  #{image_names[i].color}
                    td  #{image_names[i].price}
            - }